@use "../../shared/consts/colors.scss" as colors;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
}
.card {
  border: 1px solid colors.$white;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  font-size: 14px;
  text-align: left;
  min-width: 250px;
  max-width: 250px;
  width: 100%;

  img {
    width: 60px;
    height: 60px;
  }
}

.main_date {
  color: colors.$white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
